/* Estilo personalizado para el color de los botones naranjas */
.p-button-raised.p-button-orange {
    background-color: #f28c4d;
    /* Cambiando el color de fondo al  naranja de la plantilla*/
    color: #ffffff;
    /* Cambiando el color del texto para asegurar que sea legible */
    border-color: #f28c4d;

}

.p-button-raised.p-button-orange:active,
.p-button-raised.p-button-orange:focus,
.p-button-raised.p-button-orange:hover {
    box-shadow: 0px 4px 8px rgba(242, 140, 77, 0.4);
}

.p-button-outlined.p-button-orange,
.p-button-text.p-button-orange,
h1 {
    color: #f28c4d;
}

.menu-button {
    justify-content: left;
}

.menu-button:focus,
.menu-button:hover,
.p-button-outlined.p-button-orange:focus,
.p-button-outlined.p-button-orange:hover {
    background-color: transparent !important;
    color: #ce580e !important;
    box-shadow: none;
}

.menu-button:active,
.p-button-outlined.p-button-orange:active {
    box-shadow: none;
}

/* Estilo personalizado para el fondo del encabezado de la tabla */

tr>th {
    background: transparent;
}

/* Estilo personalizado de los bordes de la tabla */

tr>th {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

tr>td {
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.p-inputgroup {
    border: #f28c4d 1px solid;
    border-radius: 20px;
    width: 90%;
    padding: 0 15px;
    margin-bottom: 15px;
}

.p-inputgroup:active,
.p-inputgroup:focus,
.p-inputgroup:hover {
    border-color: #ce580e !important
}

.search {
    border-radius: 20px;
}

::ng-deep .p-inputtext {
    border: none;

}

::ng-deep .p-calendar>.p-inputtext {
    background-color: #f7f3f3;
}

::ng-deep .p-inputtext:focus,
::ng-deep .p-datepicker-trigger {
    box-shadow: none !important
}

.calendar-start,
.calendar-end {
    border-radius: 20px;
    background-color: #f7f3f3;
    margin: 0 15px 15px 0;
    width: fit-content;
}

::ng-deep .p-datepicker-trigger {
    background-color: #f7f3f3;
    color: #f28c4d;
    border: none
}

::ng-deep .p-datepicker-trigger:active,
::ng-deep .p-datepicker-trigger:focus,
::ng-deep .p-datepicker-trigger:hover {
    background-color: #f28c4d !important;
}


.p-inputgroup-addon {
    background-color: transparent;
    border-color: transparent;
    color: #f28c4d;
}

.search-icon {
    border-left: none;
    border-color: transparent;
}

.search-icon:focus,
.search-icon:hover,
.search-icon:active {
    box-shadow: none;
    border-color: transparent;
}